header{
    width: 940px;
    text-align: center;
    background-color: #cccccc;
    padding: 20px;
}
.caixa-principal{
    position: relative;
    display: block;
}
.navegacao{
    width: 940px;
    text-align: center;
    
}s
nav{
    position: absolute;
   
}
nav li{
    display: inline;
    padding: 25px;
    
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}
